<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
<!--    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>-->
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}team">Team</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}publications">Publications</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}funding">Funding</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}openings">Open positions</a></li>
<!--    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>-->
</ul>
